<section id="section-content" class="content page-3 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="center">

        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">

                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                        <div class="container-fluid">
                            <div class="row" data-container="container">

                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <h1 class="moto-text_system_6">{{'MenuMain1' | translate }} / {{'MenuNews1' | translate }}</h1></div>
                                    </div>

                                </div>

                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                        <div class="container-fluid">
                            <div class="row" data-container="container">

                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <h1 class="moto-text_system_4">{{'MenuNews' | translate }} </h1>

                                        </div>
                                    </div>
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                        <div class="container-fluid">
                            <div class="row" data-container="container">

                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="left top">

        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">

                    <div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
                        <div class="container-fluid">
                            <div class="row" data-container="container">

                                <div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                                    <div data-widget-id="wid__blog_post_list__5aa7adb49ad83" class="moto-widget moto-widget-blog-post_list moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="blog.post_list">
                                      <ul class="moto-blog-posts-list">
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/information-protection-day">Поздравляем с Международным днем защиты информации!</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cd7d0" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  30.11.2020
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cda8a" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/information-protection-day" data-action="blog.post">
                                                        <img src="../../../assets/information-protection-day.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">

                                                        День защиты информации был впервые объявлен в 1988 году в целях повышения осведомленности и пропаганды лучших практик компьютерной безопасности. Именно в этом году была зафиксирована первая массовая эпидемия компьютерного вируса.
                                                      </p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7ce3e4" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/information-protection-day" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/participation-in-it-conference">Участие в IT-конференции</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cd7d0" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  25.11.2020
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cda8a" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/participation-in-it-conference" data-action="blog.post">
                                                        <img src="../../../assets/itconf.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">

                                                        24 ноября Центр кибербезопасности ОАО «АГАТ – системы управления» принял участие в работе VI Конференции «Технологии защиты информации и информационная безопасность организаций» (IT-Security Conference – 2020), ежегодно организуемой Ассоциацией «Инфопарк».
                                                      </p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7ce3e4" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/participation-in-it-conference" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/сybersecurity-and-сryptography">Кибербезопасность и криптография</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cd7d0" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  24.11.2020
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cda8a" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/сybersecurity-and-сryptography" data-action="blog.post">
                                                        <img src="../../../assets/naukomania.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">

                                                        Криптография – это наука о методах шифрования и защиты информации. Шифрование данных с целью их защиты все более широко применяется в настоящее время в банковской, промышленной, торговой и иных сферах.
                                                      </p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7ce3e4" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/сybersecurity-and-сryptography" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/main-aspects-of-ensuring-information-security">Основные аспекты обеспечения информационной безопасности белорусских предприятий – в СМИ Российской Федерации</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cd7d0" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  03.08.2020
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cda8a" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/main-aspects-of-ensuring-information-security" data-action="blog.post">
                                                        <img src="../../../assets/main-aspects-inf-sec.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">

                                                        В научно-техническом журнале «Автоматизация в промышленности» (Российская Федерация) опубликована статья начальника Центра кибербезопасности ОАО «АГАТ-системы управления» – управляющая компания холдинга «Геоинформационные системы управления» А.С. Мохнача «Информационная безопасность промышленных предприятий Беларуси».
                                                      </p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7ce3e4" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/main-aspects-of-ensuring-information-security" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/corporate-information-security-webinar">Представители Центра кибербезопасности ОАО «АГАТ – системы управления» приняли участие в вебинаре «Информационная безопасность предприятий. Защита информации»</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cd7d0" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  15.06.2020
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cda8a" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/corporate-information-security-webinar" data-action="blog.post">
                                                        <img src="../../../assets/webin-1.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">

                                                        15 июля 2020 года представители Центра кибербезопасности ОАО «АГАТ – системы управления» - управляющая компания холдинга «Геоинформационные системы управления» приняли участие в вебинаре «Информационная безопасность предприятий. Защита информации», организованном УП «Центр делового образования» Белорусской торгово-промышленной палаты.
                                                      </p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7ce3e4" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/corporate-information-security-webinar" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/kaspersky-security-day">Представители Центра кибербезопасности ОАО "АГАТ - системы управления" приняли участие в конференции "Kaspersky Security Day. Строим безопасный мир"</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cd7d0" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  01.10.2019
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cda8a" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/kaspersky-security-day" data-action="blog.post">
                                                        <img src="../../../assets/0098.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">
                                                        Представители Центра кибербезопасности ОАО "АГАТ - системы управления" приняли участие в конференции "Kaspersky Security Day. Строим безопасный мир" Одним из ведущих спикеров мероприятия выступил начальник Центра кибербезопасности Александр Мохнач, который осветил актуальную тему "Комплексный подход к обеспечению информационной безопасности предприятий: аудит, пентест, мониторинг". Выступление вызвало положительный отклик и предметную дискуссию с участниками конференции.

                                                      </p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7ce3e4" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/kaspersky-security-day" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>

                                            <!--
          { path: 'news/kaspersky-security-day', component: LkComponent },
      { path: 'news/ensuring-safety-at-second-european-games', component: Lk2Component },
      { path: 'news/ctf-2019', component: CtfComponent },
        -->
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/ensuring-safety-at-second-european-games">Решения "Лаборатории Касперского" - выбор Центра кибербезопасности ОАО "АГАТ - Системы управления" для обеспечения безопасности II Европейских игр в Минске</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7ce94d" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  18.09.2019
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7ceb75" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/ensuring-safety-at-second-european-games" data-action="blog.post">
                                                        <img src="../../../assets/233.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">Решения "Лаборатории Касперского" - выбор Центра кибербезопасности ОАО "АГАТ - Системы управления" для обеспечения безопасности II Европейских игр в Минске Специалисты Центра обеспечивали непрерывный процесс мониторинга и реагирования во время соревнований. Для этого была выбрана специализированная платформа для противодействия комплексным угрозам на уровне сети Kaspersky Anti Targeted Attack, которая позволяет своевременно обнаруживать многоступенчатые действия злоумышленников в сети и защищать от них на всех этапах.</p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7cf53f" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/ensuring-safety-at-second-european-games" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                        <li class="moto-blog-posts-list-item">
                                          <article>
                                            <div class="moto-widget moto-widget-row" data-widget="row">
                                              <div class="container-fluid">
                                                <div class="row">
                                                  <div class="moto-cell col-sm-12" data-container="container">
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-left" data-preset="default" data-widget="text">
                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                        <h2 class="moto-text_system_5">
                                                          <a routerLink="/news/ctf-2019">Agat CTF-2019</a>
                                                        </h2>
                                                      </div>
                                                    </div>
                                                    <div class="moto-widget moto-widget-row" data-widget="row">
                                                      <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="moto-cell col-sm-12" data-container="container">
                                                            <div data-widget-id="wid__blog_post_published_on__5dad57e7cfa7d" class="moto-widget moto-widget-blog-post_published_on moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="blog.post_published_on" data-spacing="aasa">
                                                              <div class="moto-text_system_11">
                                                                <span class="fa fa-calendar moto-widget-blog-post_published_on-icon"></span><span class="moto-widget-blog-post_published_on-date">
                                                                  31.03.2019
                                                                </span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div data-widget-id="wid__image__5dad57e7cfcde" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                      <a class="moto-widget-image-link moto-link" routerLink="/news/ctf-2019" data-action="blog.post">
                                                        <img src="../../../assets/ctf.jpg" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </a>
                                                    </div>
                                                    <div class="moto-blog-post-content moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto">
                                                      <p class="moto-text_normal">Agat CTF-2019 30-31 марта 2019 года в ОАО «АГАТ-системы управления» прошли вторые соревнования по информационной безопасности «AgatCTF-2019», проводимые по международным правилам «Capture the flag».</p>
                                                    </div>
                                                    <div data-widget-id="wid__button__5dad57e7d065c" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
                                                      <a routerLink="/news/ctf-2019" data-action="blog.post" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Подробнее</span></a>
                                                    </div>
                                                    <div class="moto-widget moto-widget-divider moto-preset-2 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-align-center" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2">
                                                      <hr class="moto-widget-divider-line">
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </article>
                                        </li>
                                      </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
