<!-- With dynamic template -->
<div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:top;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="top">

    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">

                <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                    <div class="container-fluid">
                        <div class="row" data-container="container">

                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable">
                                      <p class="moto-text_system_5" style="color: white;">Кибербезопасность и криптография</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="left top">

    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">

                <div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
                    <div class="container-fluid">
                        <div class="row" data-container="container">
                            <div class="moto-cell col-sm-9 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                               
                             
                           
                               
                                <div data-widget-id="wid__blog_post_content__5aa7ae5347766" class="moto-widget moto-widget-blog-post_content moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="blog.post_content">

                                    <section id="section-content" class="content page-27 moto-section" data-widget="section" data-container="section">
                                        <div class="moto-widget moto-widget-row" data-widget="row" data-draggable-disabled="" style="" data-bg-position="left top">
                                            <div class="container-fluid">
                                                <div class="row" data-container="container">
                                                    <div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                                                       
                                                      <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sala" data-draggable-disabled="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                          <p class="moto-text_normal">Криптография – это наука о методах шифрования и защиты информации. Шифрование данных с целью их защиты все более широко применяется в настоящее время в банковской, промышленной, торговой и иных сферах. </p>
                                                          <p class="moto-text_normal">
                                                            <br>
                                                          </p>

                                                        </div>


                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                          <p class="moto-text_normal">Обеспечение информационной безопасности методами одной только криптографии не может давать гарантий неприкосновенности чувствительной информации, поскольку необходимо участие в этом процессе и другого важного компонента – кибербезопасности.</p>
                                                          <p class="moto-text_normal">
                                                            <br>
                                                          </p>

                                                        </div>


                                                        <div data-widget-id="wid__image__5aa7ac7b76a96" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                          <span class="moto-widget-image-link">
                                                            <img src="../../../assets/naukomania.jpg" class="moto-widget-image-picture lazyload" data-id="351" title="" alt="">
                                                          </span>
                                                        </div>


                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                          <p class="moto-text_normal">Каким образом кибербезопасность и криптографические методы защиты деловой информации дополняют друг друга, какие виды атак применяют злоумышленники, какие методы защиты нужно применять – на основе практического опыта последнего года работы расскажет начальник Центра кибербезопасности ОАО «АГАТ – системы управления» Мохнач Александр Сергеевич в выпуске программы <a href="https://www.youtube.com/watch?v=7j04V9_eDVA ">«Наукомания»</a> на канале «Беларусь 3» (таймкод по кибербезопасности: 14:02 – 17:23; 21:46 – 25:46).</p>
                                                          <p class="moto-text_normal">
                                                            <br>
                                                          </p>

                                                        </div>

                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                               
                            
                            </div>
                            <div class="moto-cell col-sm-3 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                               
                                
                                <div data-widget-id="wid__blog_recent_posts__5aa7ae534be49" class="moto-widget moto-widget-blog-recent_posts moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="blog.recent_posts">
                                    <div class="moto-widget-blog-recent_posts-title">
                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-spacing="aasa">
                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                <p class="moto-text_system_5">Последние новости</p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="moto-widget-blog-recent_posts-list">

                                      <li class="moto-widget-blog-recent_posts-item">
                                        <div class="moto-widget-blog-recent_posts-item-preview">
                                          <div class="moto-widget moto-widget-image moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-spacing="sasa">
                                            <a routerLink="/news/main-aspects-of-ensuring-information-security" class="moto-widget-image-link moto-link">
                                              <img src="../../../assets/main-aspects-inf-sec.jpg" class="moto-widget-image-picture">
                                            </a>
                                          </div>
                                        </div>
                                        <div class="moto-widget-blog-recent_posts-item-title">
                                          <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-spacing="aasa">
                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                              <h2 class="blog-post-title moto-text_system_9">
                                                <a routerLink="/news/main-aspects-of-ensuring-information-security">Основные аспекты обеспечения информационной безопасности белорусских предприятий – в СМИ Российской Федерации</a>
                                              </h2>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="moto-widget-blog-recent_posts-item">
                                        <div class="moto-widget-blog-recent_posts-item-preview">
                                          <div class="moto-widget moto-widget-image moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-spacing="sasa">
                                            <a routerLink="/news/corporate-information-security-webinar" class="moto-widget-image-link moto-link">
                                              <img src="../../../assets/webin-1.jpg" class="moto-widget-image-picture">
                                            </a>
                                          </div>
                                        </div>
                                        <div class="moto-widget-blog-recent_posts-item-title">
                                          <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-spacing="aasa">
                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                              <h2 class="blog-post-title moto-text_system_9">
                                                <a routerLink="/news/corporate-information-security-webinar">Представители Центра кибербезопасности ОАО «АГАТ – системы управления» приняли участие в вебинаре «Информационная безопасность предприятий. Защита информации»</a>
                                              </h2>
                                            </div>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
