
 
  <div class="mutable-content">



          <section class="page-top" style="min-height: 0vh; padding-bottom: 20px;">
              

               <!-- 
          <span class="image" style="background-image:url('https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/about.jpeg?alt=media&token=9170e1a4-4af3-4eef-8667-cd5b8cb8cfb0'); filter: brightness(50%);"></span>
      -->
            
                 
                  <div class="wrapper" >

                      <div class="top-title-block">



                           
                        <p style="color: white" ngsReveal><a (click)="applicationService.navigateToHome();" >{{ 'MenuMain' | translate }}</a> / <a  >{{ 'about' | translate }}</a> </p>
                                
                        
                          <h1 ngsReveal id="notmain">{{ 'about' | translate }}</h1>

                  

                  

                    
                         


                    </div>

                      
                        

                  </div>
              </section>


   <!--

   -->   

   <section class="page-top" >
     <div class="wrapper" id="rapper" style="padding: 0 0 0 0">
        
   <div class="content-footer__container" style="padding:0px 0px 5px 0px;">
    <div class="page-par page-content">
<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
  


  
   



              
            <div ngsReveal class="fma-weightedtxtnimage aem-GridColumn aem-GridColumn--default--12" >
                <div class="weighted-images-text-wrapper cf theme--light mb8 pos--tl"  master-selector=".weighted-images-text__body-wrap" sub-selector=".weighted-images-text__secondary-media">
                  <section class="weighted-images-text__primary-media" >
                    <img  alt class="weighted-images-text__primary-media__content lazyload" style="" title="" src="../../../assets/comp.jpg" />
                  </section>                                                                                               
                  <section class="weighted-images-text__body-holder">
                    <div class="weighted-images-text__body-wrap">
                      <div class="weighted-images-text__body">
                        <h3 class="weighted-images-text__body__heading" id="makesmall" style=" text-align: justify; color:white" >
                          {{ 'text1' | translate }}
                        </h3>

                            <h3 class="weighted-images-text__body__heading" id="makesmall" style=" text-align: justify; color:white;"> {{ 'text3' | translate }} </h3>
                      
                      </div>
                    </div>
                    <div class="weighted-images-text__secondary-media">
                      <img alt class="weighted-images-text__secondary-media__content lazyload" style="max-width: 100%; height: auto;"   title="" src="../../../assets/hacker.jpg" width="660"/>
                    </div>
                  </section>
                </div>
              </div>



      
           



            <div  ngsReveal class="fma-weightedtxtnimage aem-GridColumn aem-GridColumn--default--12" >
                <div class="weighted-images-text-wrapper cf theme--light mb8 pos--tr" master-selector=".weighted-images-text__body-wrap" sub-selector=".weighted-images-text__secondary-media">
                  


                  
                  <section class="weighted-images-text__primary-media">
                    <img   alt class="weighted-images-text__primary-media__content lazyload" style="max-width: 100%; height: auto;"  title="" src="../../../assets/44.jpg" width="927"/>
                  </section>
                  



                  <section class="weighted-images-text__body-holder">
                    <div class="weighted-images-text__body-wrap">
                      <div class="weighted-images-text__body">
                          <h3 class="weighted-images-text__body__heading" id="makesmall" style=" text-align: justify; color:white;"> {{ 'text4' | translate }} </h3>
                          <h3 class="weighted-images-text__body__heading" id="makesmall" style=" text-align: justify; color:white;"> {{ 'text2' | translate }} </h3>
                    
                    
                    
                    
                       
                    
                    
                        </div>
                    </div>
                    <div class="weighted-images-text__secondary-media">
                      <img  alt class="weighted-images-text__secondary-media__content lazyload"  style="max-width: 100%; height: auto;"  title="" src="../../../assets/0003.jpg" width="660"/>
                    </div>
                  </section>
                



                </div>
              </div>




    









   

       

    








</div></div>
  
</div>


     </div>
   </section>
 

















       










        <!--
           
       -->   
    
         
      </div>
     
 
