
        <!-- create a template to use the imageviewer -->
        
      


        <section id="section-content" class="content page-13 moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="center">
    
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">
    
                                <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                            <h1 class="moto-text_system_6" (click)="navToFeeds()" class="po">К списку фидов</h1></div>
                                                    </div>
                
                                                </div>
                
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                
                                                </div>
                
                                            </div>
                                        </div>
                                    </div>
    
                                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                                                    <p class="moto-text_system_5" style="color: white;">Вирусная аналитика (август 2019)</p>
                                                                                </div>
                                                                    </div>
                                
                                                                </div>
                                
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
    
    
        
                      
                            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
        
                                <div class="container-fluid">
                                    <div class="row" data-container="container">
        
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
        
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
        
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="laaa" style="" data-bg-position="left top">
            <a class="moto-anchor" name="anchor-1"></a>
    
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
                            <div class="container-fluid">
                                <div class="row" data-container="container">

   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          

                                        <h4 style=" padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Emotet_aabd67</h4>
                                        <p style="  padding-bottom: 20px;">Emotet_aabd67 использовал такие IP-адреса, как 193.70.18[.]144, 93.17.128[.]164, и 192.232.25[1[.]76, чтобы рассылать спам, через 587 порт, используя SMTP. На диаграммах ниже отображен топ 10 IP-адресов и портов, которые были использованы данным вирусом:</p>
                                            
                                </div>
                                   
                                   
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          
                                       <div id="container"></div>
      
                                      </div>
  
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                          <div id="container1"></div>
         
                                         </div>

                                         <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Способ общения Emotet_aabd67 с C2 сервером</h4>

                                                <p style="  padding-bottom: 20px;">Emotet_aabd67 общался со своим C2 сервером, оправляя GET и POST запросы и использовал словосочетания типа "/arizona/raster/mult/glitch/" или просто случайные слова, чтобы избежать обнаружения. Полный список использованных слов представлен в таблице:</p>
               

                                                <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
  
                                                        <!--- Note that these columns can be defined in any order.
                                                              The actual rendered columns are set as a property on the row definition" -->
                                                      
                                                        <!-- Position Column -->
                                                        <ng-container matColumnDef="name">
                                                          <th mat-header-cell *matHeaderCellDef style="font-size: 14px; color: black; padding-top: 15px;" > /acquire/ </th>
                                                          <td mat-cell *matCellDef="let element" style="padding-top: 15px;"> {{element.name}} </td>
                                                        </ng-container>
                                                      
                                                        <!-- Name Column -->
                                                        <ng-container matColumnDef="name2">
                                                                <th mat-header-cell *matHeaderCellDef style="font-size: 14px; color: black;"> /codec/ </th>
                                                                <td mat-cell *matCellDef="let element"> {{element.name2}} </td>
                                                              </ng-container>
                
                                                              <ng-container matColumnDef="name3">
                                                                    <th mat-header-cell *matHeaderCellDef style="font-size: 14px; color: black;"> /guids/ </th>
                                                                    <td mat-cell *matCellDef="let element"> {{element.name3}} </td>
                                                                  </ng-container>

                                                                  <ng-container matColumnDef="name4">
                                                                        <th mat-header-cell *matHeaderCellDef style="font-size: 14px; color: black;"> /odbc/ </th>
                                                                        <td mat-cell *matCellDef="let element"> {{element.name4}} </td>
                                                                      </ng-container>

                                                                      <ng-container matColumnDef="name5">
                                                                            <th mat-header-cell *matHeaderCellDef style="font-size: 14px; color: black;"> /rtm/  </th>
                                                                            <td mat-cell *matCellDef="let element"> {{element.name5}} </td>
                                                                          </ng-container>

                                                                          <ng-container matColumnDef="name6">
                                                                                <th mat-header-cell *matHeaderCellDef style="font-size: 14px; color: black;"> /text/  </th>
                                                                                <td mat-cell *matCellDef="let element"> {{element.name6}} </td>
                                                                              </ng-container>
                                                      
                                                       
                                                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                                      </table>


                                               </div>



                                               <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                    <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Структура спам-письма</h4>
    

                                                    <mat-list role="list">
                                                            <mat-list-item role="listitem">
                                                          
                                                             
                                                              <p mat-line  style=" padding-bottom: 20px;">Hello,     </p>
                                                             
                                                              <p mat-line style=" padding-bottom: 20px;">Attached below is for your review.  </p>
                                                             
                                                              <p mat-line style=" padding-bottom: 20px;"> Please contact me with any questions you have.  </p>
                                                            
                                                              <p mat-line style=" padding-bottom: 20px;">ATTACHMENT DOCUMENT </p>

                                                              <p mat-line >hxxps://onedrive.live.com/download.aspx?cid=B1D6A652B170531E&authKey=%21AB0UB </p>
                                                              <p mat-line style=" padding-bottom: 20px;">fdICY0G_U&resid=B1D6A652B170531E!208&ithint=%2Ezip  </p>
                                                              
                                                              <p mat-line> Thanks. </p>
                                                            </mat-list-item>
                                                          
                                                           
                                                          </mat-list>
    
                                                   </div>

                                                   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                        <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Loo Cipher</h4>
        
                                                        <p style="  padding-bottom: 20px;">LooCipher зашифровывал файлы на машине, после чего расширение файла становилось [.]lcphr. Вирус запрашивал 330 USD чтобы расшифровать файлы обратно. Для этого пользователю давалось 5 дней. </p>
                       
                                                        <div class="moto-widget-image-link moto-link" style="display:flex; justify-content:center; margin-bottom: 20px;"    data-action="blog.post">
                                                            <img src="../../../assets/loociph1.png" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                        </div>

                                                        <div class="moto-widget-image-link moto-link" style="display:flex; justify-content:center"   data-action="blog.post">
                                                                <img src="../../../assets/loociph2.png" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                            </div>
                                                        
        
        
                                                    </div>


                                                    
                                                   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                        <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Qbot_c4d931</h4>
        
                                                        <p style="  padding-bottom: 20px;">Qbot - это банковский троян, основной целью которого является получение доступа к чужим банковским аккаунтам. Данный вирус способен регистрировать нажатия клавиш на клавиатуре, мониторить сетевой трафик. Qbot_c4d931 преимущественно общался через ftp со следующими IP-адресами: 61.221.12[.]26, 37.60.244[.]211, и 198.38.77[.]162. На диаграммах отображен топ 10 IP-адресов, с которыми взаимодействовал вредонос: </p>
                       
                                                        <div id="container2"></div>


                                                       
        
        
                                                    </div>


                              
       
                                     



                                              
                                         <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                            <div id="container4"></div>
           
                                           </div>
       
                                           <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
         
                                               <div id="container5"></div>
              
                                              </div>




    
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    

                                            <p style="  padding-bottom: 20px;">MD5 хеши вредоносного ПО:</p>


                                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
                                        <!--- Note that these columns can be defined in any order.
                                              The actual rendered columns are set as a property on the row definition" -->
                                      
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="name">
                                          <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"> Название </th>
                                          <td mat-cell *matCellDef="let element" style="padding-top: 15px;"> {{element.name}} </td>
                                        </ng-container>
                                      
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="date">
                                          <th mat-header-cell *matHeaderCellDef> Дата начала атаки </th>
                                          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="md5">
                                            <th mat-header-cell *matHeaderCellDef> MD5 хеш </th>
                                            <td mat-cell *matCellDef="let element"> {{element.md5}} </td>
                                          </ng-container>
                                      
                                       
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                      </table>
    
                                    </div>
  
                               
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                            <div class="moto-widget-contact_form-buttons">
                                                <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                                  
                                                   <a href="../../../assets/malware-analysis-august-2019.xlsx" target="_blank" class="moto-widget-button-link moto-size-medium" data-size="medium"> Скачать отчёт </a>
                                                </div>
                                               
                                             </div>
                                              </div>
  
  
  
  
                                      
  
                                        
  
  
                                        
  
  
                                            
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
      
    </section>
        
    
    
    
    
    