
        <!-- create a template to use the imageviewer -->
        
      


        <section id="section-content" class="content page-13 moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="center">
    
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">
    
                                <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                
                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                            <h1 class="moto-text_system_6" (click)="navToFeeds()" class="po">К списку фидов</h1></div>
                                                    </div>
                
                                                </div>
                
                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                
                                                </div>
                
                                            </div>
                                        </div>
                                    </div>
    
                                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">
                                
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                
                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                                                    <p class="moto-text_system_5" style="color: white;">Вирусная аналитика (сентябрь 2019)</p>
                                                                                </div>
                                                                    </div>
                                
                                                                </div>
                                
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                    </div>
    
    
        
                      
                            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
        
                                <div class="container-fluid">
                                    <div class="row" data-container="container">
        
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
        
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
        
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="laaa" style="" data-bg-position="left top">
            <a class="moto-anchor" name="anchor-1"></a>
    
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
                            <div class="container-fluid">
                                <div class="row" data-container="container">

   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          

                                        <h4 style=" padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">BokBot_93ef74</h4>
                                        <p style="  padding-bottom: 20px;">На диаграммах показаны топ IP к которым BokBot_93ef74 устанавливал соединение, а также топ портов, по которым устанавливалось соединение:</p>
                                            
                                </div>
                                   
                                   
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          
                                       <div id="container"></div>
      
                                      </div>
  
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                          <div id="container1"></div>
         
                                         </div>

                                         <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                

                                                <p style="  padding-bottom: 20px;">BokBot_93ef74 устанавливал соединение с ip-адресами 181.113.20[.]186, 36.89.85[.]103, и 189.80.134[.]122 преимущественно по порту 449 и используя SSL. Вирус подключался к C2 серверам TrickBot, а также стучался на такие ip-адреса, как 170.238.117[.]187 и 172.245.117[.]103 по портам 8082 и 80, используя HTTP. Данный вирус скачивал исполняемые файлы с IP-адреса 172.245.117[.]103. Список скачанных файлов представлен в таблице:</p>
               

                                                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
  
                                                    <!--- Note that these columns can be defined in any order.
                                                          The actual rendered columns are set as a property on the row definition" -->
                                                  
                                                    <!-- Position Column -->
                                                    <ng-container matColumnDef="name">
                                                      <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"> Название </th>
                                                      <td mat-cell *matCellDef="let element" style="padding-top: 15px;"> {{element.name}} </td>
                                                    </ng-container>
                                                  
                                                    <!-- Name Column -->
                                                    <ng-container matColumnDef="date">
                                                      <th mat-header-cell *matHeaderCellDef> Дата  </th>
                                                      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="source">
                                                        <th mat-header-cell *matHeaderCellDef> Источник </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                                                      </ng-container>
            
                                                    <ng-container matColumnDef="md5">
                                                        <th mat-header-cell *matHeaderCellDef> MD5 </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.md5}} </td>
                                                      </ng-container>
                                                  
                                                   
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                                  </table>
                
                                               


                                               </div>



                                            

                                                   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                        <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Emotet_2a618b</h4>
        
                                                        <p style="  padding-bottom: 20px;">На диаграммах показаны топ IP к которым Emotet_2a618b  устанавливал соединение, а также топ портов, по которым устанавливалось соединение в этом месяце:</p>
                       
        
                                                    </div>



   
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          
                                                        <div id="container2"></div>
                       
                                                       </div>
                   
                                                       <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                     
                                                           <div id="container3"></div>
                          
                                                          </div>









                                                    
                                                   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                      
        
                                                        <p style="  padding-bottom: 20px;">
                                                        
                                                        
                                                            Emotet общался со своим C2 сервером, отправляя GET и POST запросы, в URI которых содержались случайные слова, такие как “/teapot/”. Данная тактика использовалась для обхода обнаружения. Список слов практически не изменился с прошлого месяца, за исключением слова “/us/”, которое использовалось в запросе на www[.]fedex[.]com. 
                                                        
                                                        </p>
                       
                                                    


                                                       <p style="  padding-bottom: 20px;">
                                                          Вдобавок, Emotet отправлял несколько запросов к /whoami.php, /tablone.png, и /samerton.png, пытался скачать сертификаты Starfield Technologies, GlobalSign, и Thawte certificates, и перенаправлял пользователя на следующий сайт: hxxp://isrg.trustid.ocsp.identrust.com/mfewtzbnmeswstajbgurdgmcgguabbrv9ghnqxlssgkbnmarpucshyovpgquxkexphsscfrb4uuqdf/efwcfiraceaobquiaaafthxnqc4xspwg
                                                       </p>

                                                       <p style="  padding-bottom: 20px;">
                                                          В этом месяце была обнаружена спам-кампания, которая проводилась разработчиками Emotet. Спам сообщения были ответами на старые сообщения, что характерно для данного вируса. Содержание письма было следующим:
                                                       </p>


                                                       <mat-list role="list">
                                                          <mat-list-item role="listitem">
                                                        
                                                           
                                                            <p mat-line  style=" padding-bottom: 20px;">Hello,     </p>
                                                           
                                                            <p mat-line style=" padding-bottom: 20px;">Need you to run through this and make sure all the info is up to date. Mark anything that needs replacing and send it back to me.   </p>
                                                           
                                                            <p mat-line style=" padding-bottom: 20px;"> ATTACHMENT DOCUMENT[hxxp://www.cbdnewsdirect.com/wpcontent/uploads/2019/09/alr/INV_5107.zip]   </p>
                                                          
                                                            <p mat-line style=" padding-bottom: 20px;">Thank you  </p>

                                                          
                                                          </mat-list-item>
                                                        
                                                         
                                                        </mat-list>


        
        
                                                    </div>


                              
       
                                     



                                              
                              
                               
                                            

                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                        <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Qbot_c4d931</h4>
        
                                                        <p style="  padding-bottom: 20px;">На диаграммах показаны топ IP к которым Qbot_c4d931 устанавливал соединение, а также топ портов, по которым устанавливалось соединение в этом месяце: </p>
                       
        
                                                    </div>



   
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          
                                                        <div id="container4"></div>
                       
                                                       </div>
                   
                                                       <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                     
                                                           <div id="container5"></div>
                          
                                                          </div>


      
                                                          <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                      
        
                                                              <p style="  padding-bottom: 20px;">
                                                              
                                                              
                                                                  Qbot преимущественно общался с такими ip-адресами, как 61.221.12[.]26, 37.60.244[.]211, и 198.38.77[.]162 через ftp. 
                                                              
                                                              </p>

                                                              <p style="  padding-bottom: 20px;">
                                                              
                                                              
                                                                  Qbot пытался войти в PureFTPd сервер используя следующие комбинации логинов и паролей:
                                                                 
                                                          
                                                                  
                                                              
                                                              </p>

                                                              
                                                       <mat-list role="list">
                                                        <mat-list-item role="listitem">
                                                      
                                                         
                                                          <p   style=" padding-bottom: 20px; font-size: 16px;"> logger[@]ostergift[.]com/346HZGCMlwecz9S  </p>
                                                         
                                                        
                                                         
                                                          
                                                        
                                                        

                                                        
                                                        </mat-list-item>

                                                    <mat-list-item role="listitem">
                                                            <p  style=" padding-bottom: 20px; font-size: 16px;">backup_manager[@]worldexpresscargo[.]com/kJm6DKVPfyiv  </p>
                                                    </mat-list-item>

                                                    <mat-list-item role="listitem">
                                                            <p  style=" padding-bottom: 20px; font-size: 16px;"> backup_manager[@]garciasdrywall[.]com/4AsEzIaMwi2d   </p>
                                                    </mat-list-item>
                                                      
                                                       
                                                      </mat-list>

                                                      <p style="  padding-bottom: 20px;">
                                                              
                                                              
                                                   
                                                       
                                                        Попытки войти повторялись в течении всего месяца и всегда были неудачными.
                                                        
                                                    
                                                    </p>


                                                              <p style="  padding-bottom: 20px;">
                                                              
                                                              
                                                                Также осуществлалась отправка  DNS и HTTP запросов на www.ip-adress[.]com. При этом использовались только GET запросы и только в течении последних пяти дней месяца. Результатом запроса всегда был статус 301.
                                                              
                                                              </p>




                             
                                                    </div>      
  
  
  
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                        <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">TrickBot_29853c</h4>
        
                                                        <p style="  padding-bottom: 20px;">На диаграммах показаны топ IP к которым TrickBot_29853c устанавливал соединение, а также топ портов, по которым устанавливалось соединение в этом месяце: </p>
                       
        
                                                    </div>
  
                                      
  
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          
                                                        <div id="container6"></div>
                       
                                                       </div>
                   
                                                       <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                     
                                                           <div id="container7"></div>
                          
                                                          </div>
  
   
                                                          <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                          
                                                                <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Модули и конфигурационные файлы TrickBot_29853c</h4>
                                                            <mat-list role="list">

                                                                <mat-list-item role="listitem">
                                                              
                                                                
                                                                  <p mat-line  style=" padding-bottom: 20px; font-size: 16px;">importDll64     </p>
                                                                
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">injectDll64   </p>
                                                                
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;"> injectDll64_configs\dinj  </p>
                                                                
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">injectDll64_configs\dpost </p>




                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">injectDll64_configs\sinj </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">networkDll64  </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">networkDll64_configs\dpost </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">NewBCtestnDll64  </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">NewBCtestnDll64\bcconfig3  </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">psfin64 </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">psfin64_configs\dpost </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">pwgrabDll64 </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">pwgrab64_configs\dpost </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">settings.ini </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">mshareDll64  </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">systeminfo64  </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">tabDll64  </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">tabDll64_configs\dpost </p>
                                                                  <p mat-line style=" padding-bottom: 20px; font-size: 16px;">mwormDll64  </p>

                                                                
                                                                </mat-list-item>
                                                              
                                                              
                                                              </mat-list>

                                                      </div>
                                        
  
                                                      
                                                   <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                                                      <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Программа-вымогатель Tanos</h4>
      
                                                      <p style="  padding-bottom: 20px;">11 сентября 2019 года данный вирус зашифровал все файлы на машине с изменением расширения на .tanos, после чего на экране появилось следующее сообщение с требованием выкупа: </p>
                     
                                                      <div class="moto-widget-image-link moto-link" style="display:flex; justify-content:center; margin-bottom: 20px;"    data-action="blog.post">
                                                          <img src="../../../assets/tanos.png" class="moto-widget-image-picture lazyload" data-id="" title="" alt="">
                                                      </div>

                                                      
                                                      
      
      
                                                  </div>


                                                  <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                                        <div class="moto-widget-contact_form-buttons">
                                                            <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                                              
                                                               <a href="../../../assets/malware-analysis-september-2019.xlsx" target="_blank" class="moto-widget-button-link moto-size-medium" data-size="medium"> Скачать отчёт </a>
                                                            </div>
                                                           
                                                         </div>
                                                          </div>
              
  
                                            
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
      
    </section>
        
    
    
    
    
    