<section id="section-content" class="content page-22 moto-section" data-widget="section" data-container="section">
        <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:top;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="top">


<div class="container-fluid">
<div class="row">
<div class="moto-cell col-sm-12" data-container="container">

      <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

            <div class="container-fluid">
                <div class="row" data-container="container">

                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <h1 class="moto-text_system_6">{{'MenuServices1' | translate }} / {{'MenuIsms' | translate }}</h1></div>
                        </div>

                    </div>

                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                    </div>

                </div>
            </div>
        </div>


<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


<div class="container-fluid">
<div class="row" data-container="container">


<div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable"><h1 class="moto-text_system_4">{{'isms9' | translate }}</h1></div>
</div>


</div>



</div>
</div>
</div>






</div>
</div>
</div>
</div>
        <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="left top" data-draggable-disabled="">


<div class="container-fluid">
<div class="row">
<div class="moto-cell col-sm-12" data-container="container">


<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top" data-draggable-disabled="">


<div class="container-fluid">
<div class="row" data-container="container">


<div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="" data-draggable-disabled="">
<div class="moto-widget-text-content moto-widget-text-editable">
    
    
    
    
    <p class="moto-text_system_6"><span class="moto-color_custom5">{{'isms10' | translate }}</span></p>
    
    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

            <div class="container-fluid">
                <div class="row" data-container="container">

                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <ul>
                                    <li class="moto-text_system_9">

                                        <span class="moto-color2_3">  <mat-icon style="position: absolute;
display: inline-block;
top: 0;
left: 0; 
color: #2040d5;
margin-left: -4px;">
remove
</mat-icon></span>

                                        <span class="moto-color2_3">
                                             {{'isms11' | translate }}
                                        </span></li>

                                    <li class="moto-text_system_9"><span class="moto-color2_3">

<span class="moto-color2_3">  <mat-icon style="position: absolute;
display: inline-block;
top: 0;
left: 0; 
color: #2040d5;
margin-left: -4px;">
remove
</mat-icon></span>
{{'isms12' | translate }}</span>
                                    </li>

                               



















                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
        
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
                                <div class="moto-widget-text-content moto-widget-text-editable">
                                    <ul>
                                       
                                      
                                    <li class="moto-text_system_9"><span class="moto-color2_3">

                                            <span class="moto-color2_3">  <mat-icon style="position: absolute;
                                            display: inline-block;
                                            top: 0;
                                            left: 0; 
                                            color: #2040d5;
                                            margin-left: -4px;">
                                            remove
                                            </mat-icon></span>
                                        
                                            {{'isms13' | translate }}
                                        
                                        </span>
                                                                                </li>
                                    
                                   
    
    
                                        
    
    
                                    </ul>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <p class="moto-text_normal"><br></p>
        <p class="moto-text_normal"><br></p>

        <div data-widget-id="wid__image__5aa7ac7b76a96" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
            <span class="moto-widget-image-link">
              <img src="../../../assets/politic.jpeg" class="moto-widget-image-picture lazyload" data-id="351" title="" alt="">
           </span>
    </div>

        <p class="moto-text_normal"><br></p>

        <p class="moto-text_system_6"><span class="moto-color_custom5">{{'isms14' | translate }}:</span></p>


        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                <div class="container-fluid">
                    <div class="row" data-container="container">
    
                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
                                <div class="moto-widget-text-content moto-widget-text-editable">
                                    <ul>
                                        <li class="moto-text_system_9">
    
                                            <span class="moto-color2_3">  <mat-icon style="position: absolute;
    display: inline-block;
    top: 0;
    left: 0; 
    color: #2040d5;
    margin-left: -4px;">
    remove
    </mat-icon></span>
    
                                            <span class="moto-color2_3">{{'isms15' | translate }}</span></li>
    
                                        <li class="moto-text_system_9"><span class="moto-color2_3">
    
    <span class="moto-color2_3">  <mat-icon style="position: absolute;
    display: inline-block;
    top: 0;
    left: 0; 
    color: #2040d5;
    margin-left: -4px;">
    remove
    </mat-icon></span>{{'isms16' | translate }}</span>
                                        </li>
    
                             

    
    
    
    
    
                                        <li class="moto-text_system_9"><span class="moto-color2_3">
    
                                                <span class="moto-color2_3">  <mat-icon style="position: absolute;
                                                display: inline-block;
                                                top: 0;
                                                left: 0; 
                                                color: #2040d5;
                                                margin-left: -4px;">
                                                remove
                                                </mat-icon></span>{{'isms17' | translate }}</span>
                                                                                    </li>
    
                                                                                    <li class="moto-text_system_9"><span class="moto-color2_3">
    
                                                                                            <span class="moto-color2_3">  <mat-icon style="position: absolute;
                                                                                            display: inline-block;
                                                                                            top: 0;
                                                                                            left: 0; 
                                                                                            color: #2040d5;
                                                                                            margin-left: -4px;">
                                                                                            remove
                                                                                            </mat-icon></span>{{'isms18' | translate }}</span>
                                                                                                                                </li>







                                                                                                                                <li class="moto-text_system_9"><span class="moto-color2_3">
    
                                                                                                                                        <span class="moto-color2_3">  <mat-icon style="position: absolute;
                                                                                                                                        display: inline-block;
                                                                                                                                        top: 0;
                                                                                                                                        left: 0; 
                                                                                                                                        color: #2040d5;
                                                                                                                                        margin-left: -4px;">
                                                                                                                                        remove
                                                                                                                                        </mat-icon></span>{{'isms19' | translate }}</span>
                                                                                                                                                                            </li>
    
    
    
    
    
    
                                    </ul>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
        
                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable">
                                        <ul>
                                           
                                                <li class="moto-text_system_9">
    
                                                        <span class="moto-color2_3">  <mat-icon style="position: absolute;
                display: inline-block;
                top: 0;
                left: 0; 
                color: #2040d5;
                margin-left: -4px;">
                remove
                </mat-icon></span>
                
                                                        <span class="moto-color2_3">{{'isms20' | translate }}</span>
                                                    </li>
        

                                                    <li class="moto-text_system_9">
    
                                                            <span class="moto-color2_3">  <mat-icon style="position: absolute;
                    display: inline-block;
                    top: 0;
                    left: 0; 
                    color: #2040d5;
                    margin-left: -4px;">
                    remove
                    </mat-icon></span>
                    
                                                            <span class="moto-color2_3">{{'isms21' | translate }}</span>
                                                        </li>
            
                                        
                                                        <li class="moto-text_system_9">
    
                                                                <span class="moto-color2_3">  <mat-icon style="position: absolute;
                        display: inline-block;
                        top: 0;
                        left: 0; 
                        color: #2040d5;
                        margin-left: -4px;">
                        remove
                        </mat-icon></span>
                        
                                                                <span class="moto-color2_3">             {{'isms22' | translate }}</span>
                                                            </li>
        
        
                                                            <li class="moto-text_system_9">
    
                                                                    <span class="moto-color2_3">  <mat-icon style="position: absolute;
                            display: inline-block;
                            top: 0;
                            left: 0; 
                            color: #2040d5;
                            margin-left: -4px;">
                            remove
                            </mat-icon></span>
                            
                                                                    <span class="moto-color2_3">   {{'isms23' | translate }}</span>
                                                                </li>

                                                                <li class="moto-text_system_9">
    
                                                                        <span class="moto-color2_3">  <mat-icon style="position: absolute;
                                display: inline-block;
                                top: 0;
                                left: 0; 
                                color: #2040d5;
                                margin-left: -4px;">
                                remove
                                </mat-icon></span>
                                
                                                                        <span class="moto-color2_3">  {{'isms24' | translate }}</span>
                                                                    </li>
        
        
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                    </div>
                </div>
            </div>
    




































   
    
    
















    
 
</div>
</div>


</div>


<div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                           
        <br>
        
        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
               <div class="moto-widget-text-content moto-widget-text-editable">
                    <p class="moto-text_system_6"><span class="moto-color_custom5">{{'isms25' | translate }}</span></p>
     
               </div>
            </div>
            <div data-widget-id="wid_1545744378_lyi8tzzyl" class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-preset="default" data-widget="contact_form" data-spacing="aaaa">
               <div ng-controller="widget.ContactForm.Controller" ng-init="hash = '2@eyJoIjoiVzhtMXBFVHlpWXhLVVN4NVwvdDdTblZBXC9Md1lJVjlTWmxWV3lWOUh6ZnpjPSIsImkiOiJjdzlLM0tPTVMrY1lwV1pLQ1h3QzBRPT0iLCJ2IjoiQ2VPN3laU0I3THZUNUtuazVpNkVOSCt0WXNMekNoN2R5V0NMY29SNEdERlR6V1VCRTJJWm5XdGFnZktHYzJpYW5OWHFLZDY4YjczRE9UMGRXRFROYkE9PSJ9';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
                 
                
                
                
                
                
                
                
                
                
                
                
                <!--form strt
                
                
                
                 <form class="moto-widget-contact_form-form" 
                  [formGroup]="myForm" autocomplete="off" (ngSubmit)="submitForm()" novalidate  method="POST" data-email="{{email}}"
                  action="https://script.google.com/macros/s/AKfycbxawmfVYWog3LqC9KdjiVCDlGnfs5U6jLO6mIH44mAJgFJtUXA/exec"
                  >
                  <div ng-show="sending" class="contact-form-loading"></div>
                
                  <div class="moto-widget-contact_form-group">
                     <label for="field_name" class="moto-widget-contact_form-label">Name</label>
                    
                    
                    
                     <input type="text" id="name" name="Имя:"  formControlName="name" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Имя *"   required />
                    
                    
                    
                    
                     <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Field is required</span>
                  </div>
                  <div class="moto-widget-contact_form-group">
                     <label for="field_name" class="moto-widget-contact_form-label">Компания</label>
                     
                     
                     
                     <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Name *"  ng-blur="validate('name')" required  ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name" ng-model="message.name"/>
                    
                    
                    
                     <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Field is required</span>
                  </div>
                  <div class="moto-widget-contact_form-group">
                     <label for="field_email" class="moto-widget-contact_form-label">Email</label>
                     
                     
                     
                     <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Email *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email"/>
                     
                     
                     
                     
                     <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid" >Field is required</span>
                     <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine" >Incorrect email</span>
                  </div>
                  <div class="moto-widget-contact_form-group">
                     <label for="field_name" class="moto-widget-contact_form-label">Телефон</label>
                     
                     
                     
                     <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Name *"  ng-blur="validate('name')" required  ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name" ng-model="message.name"/>
                     
                     
                     
                     
                     
                     <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Field is required</span>
                  </div>
                  <div class="moto-widget-contact_form-group">
                     <label for="field_message" class="moto-widget-contact_form-label">Message</label>
                     
                     
                     
                     <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="Message *"  ng-blur="validate('message')" required  ng-model-options="{ updateOn: 'blur' }" name="message" id="field_message" ng-model="message.message"></textarea>
                     
                     
                     
                     
                     
                     <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" >Field is required</span>
                  </div>
                  <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="showSuccessMessage">
                     Your message was sent successfully
                  </div>
                  <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                     Sorry, your message was not sent
                  </div>
                  <div class="moto-widget-contact_form-buttons">
                     <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                        <a ng-click="submit();" class="moto-widget-button-link moto-size-medium" data-size="medium"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">Send Message</span></a>
                     </div>


                     <button type="submit" class="hidden"></button>
                  </div>
                  </form>
                
                -->
                 

                  <!--form end-->

                



                  <!--new form-->
                  <form [formGroup]="myForm" autocomplete="off"  novalidate class="moto-widget-contact_form-form"  method="POST" data-email="{{email}}"
                  action="https://script.google.com/macros/s/AKfycbxawmfVYWog3LqC9KdjiVCDlGnfs5U6jLO6mIH44mAJgFJtUXA/exec">
                  <div class="form-elements" class="moto-widget-contact_form-group">
                     
                     <!-- Name -->
                     <mat-form-field id="field" class="input-wrapper half scrl show" appearance="outline">
                          <mat-label>{{ 'name' | translate }}</mat-label>
                       <input matInput id="name" name="Имя:"  formControlName="name"  >
                        <!-- error -->
                        <mat-error *ngIf="errorHandling('name', 'required')">
                           {{ 'field' | translate }} <strong>{{ 'name' | translate }}</strong> {{ 'notNull' | translate }}
                        </mat-error>
                       
                     </mat-form-field>
                    
                     <!-- Email -->
                     <mat-form-field id="field" class="input-wrapper half scrl show" appearance="outline">
                          <mat-label>E-mail</mat-label>
                       <input matInput  name="email"  formControlName="email"  >
                    
                        <!-- error -->
                        <mat-error *ngIf="errorHandling('email', 'required')">
                           {{ 'field' | translate }} <strong>E-mail</strong> {{ 'notNull' | translate }}
                        </mat-error>
                        <mat-error *ngIf="myForm.get('email').hasError('pattern')">
                           {{ 'field' | translate }} <strong>E-mail</strong>   {{ 'incorrect' | translate }}
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field id="field" class="input-wrapper half scrl show" appearance="outline">
                          <mat-label>{{ 'phone' | translate }}</mat-label>
                        <input matInput ngxPhoneMask   name="Телефон:"   formControlName="phone" >
                      
                        <!-- error -->
                        <mat-error *ngIf="errorHandling('phone', 'required')">
                           {{ 'field' | translate }} <strong>{{ 'phone' | translate }}</strong> {{ 'notNull' | translate }}
                        </mat-error>
                     </mat-form-field>

                     <input matInput style="display: none;"   name="Услуга:"   formControlName="service" value="{{service}}" >
                     <input matInput style="display: none;"   name="Услуга2:"   formControlName="service2" value="Смиб" >
                   
                  
                     <div class="button-wrapper">
                        <!-- Submit -->
                        <div  style="width:200px; border: 1px solid transparent; margin-right: 20px;">
                           <div class="bottom-title-block">
                              <!--
                                 <span class="cont"><span class="line"></span><i></i><i></i></span>
                                    
                                 
                                 -->

                                 
                                 <div class="moto-widget-contact_form-buttons">
                                    <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                       <input type="submit" (click)="handle($event)" [disabled]="!myForm.valid" value="{{ 'btnSendRequest' | translate }}" class="moto-widget-button-link moto-size-medium" data-size="medium">
                                         
                                    </div>
                                   
                                 </div>


                              
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="thankyou_message" style="display:none;">
                     <h1 style="color:white"> {{ 'successMessage' | translate }}</h1>
                  </div>
                  </form>


                  <!-- new form-->
               </div>
            </div>
    </div>


</div>
</div>
</div>


</div>
</div>
</div>
</div>            
</section>