
        <!-- create a template to use the imageviewer -->
        
      


        <section id="section-content" class="content page-13 moto-section" data-widget="section" data-container="section">
          <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="center">
  
              <div class="container-fluid">
                  <div class="row">
                      <div class="moto-cell col-sm-12" data-container="container">
  
                          <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                              <div class="container-fluid">
                                  <div class="row" data-container="container">
      
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                          <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                              <div class="moto-widget-text-content moto-widget-text-editable">
                                                  <h1 class="moto-text_system_6" (click)="navToFeeds()" class="po">К списку фидов</h1></div>
                                          </div>
      
                                      </div>
      
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                      </div>
      
                                  </div>
                              </div>
                          </div>
  
                                      <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
  
                                                      <div class="container-fluid">
                                                          <div class="row" data-container="container">
                              
                                                              <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                              
                                                                  <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                      <div class="moto-widget-text-content moto-widget-text-editable">
                                                                          <p class="moto-text_system_5" style="color: white;">Анализ атак на ханипот (май - август 2019)</p>
                                                                      </div>
                                                                  </div>
                              
                                                              </div>
                              
                                                              <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                              
                                                              </div>
                              
                                                          </div>
                                                      </div>
                                                  </div>
  
  
      
                          
                          <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
      
                              <div class="container-fluid">
                                  <div class="row" data-container="container">
      
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                      </div>
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                      </div>
      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="laaa" style="" data-bg-position="left top">
          <a class="moto-anchor" name="anchor-1"></a>
  
          <div class="container-fluid">
              <div class="row">
                  <div class="moto-cell col-sm-12" data-container="container">
  
                      <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
  
                          <div class="container-fluid">
                              <div class="row" data-container="container">





























<!--                  -->




                                  <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
                                     <div id="container"></div>
    
                                    </div>

                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom:20px" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
                                        <div id="container1"></div>
       
                                       </div>
  
                                  <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
                                    <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ 10 IP, с которых производилась атака</p>

                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                      <!--- Note that these columns can be defined in any order.
                                            The actual rendered columns are set as a property on the row definition" -->
                                    
                                      <!-- Position Column -->
                                      <ng-container matColumnDef="source" >
                                        <th mat-header-cell *matHeaderCellDef style="padding-top: 15px; min-width: 70%;"> IP источника </th>
                                        <td mat-cell *matCellDef="let element" style="padding-top: 15px; min-width: 70%;"> {{element.source}} </td>
                                      </ng-container>
                                    
                                      <!-- Name Column -->
                                      <ng-container matColumnDef="count">
                                        <th mat-header-cell *matHeaderCellDef> Количество </th>
                                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                      </ng-container>
                                    
                                     
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
  
                                  </div>

                                  <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                      <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ 10 IP, с которых производилась атака (дополнительная информация)</p>
                                     
                                  <mat-list role="list">
                                      <mat-list-item role="listitem">
                                        <h4 mat-line>5[.]188.86.167 </h4>
                                       
                                        <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                       
                                        <p mat-line>ASN AS49453 - Macroom, Ireland  </p>
                                       
                                        <p mat-line>Hostnames: hostby.channelnet.ie </p>
                                      
                                        <p mat-line>Open ports: 111, 3389, 10000, 10243, 10250, 11112, 12345, 13579, 14265, 16992, 16993, 17000, 18245  </p>
                                        
                                      </mat-list-item>
                                      <mat-divider></mat-divider>
                                      <mat-list-item role="listitem">
                                          <h4 mat-line>134[.]19.187.75  </h4>
                                         
                                          <p mat-line>ISP: Global Layer B.V.   </p>
                                         
                                          <p mat-line>ASN AS49453 - Alblasserdam, Netherlands   </p>
                                         
                                          <p mat-line>Open ports: 111, 3389, 10134, 10243, 10250, 12345, 13579, 16992, 16993, 18245  </p>
 
                                        </mat-list-item>

                                        <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">
                                            <h4 mat-line>185[.]220.221.208   </h4>
                                           
                                            <p mat-line>ISP: Telefonzentrale s.r.o.   </p>
                                           
                                            <p mat-line>ASN AS49121 - Czech Republic   </p>
                                           
                                            <p mat-line>Open ports: 88, 10000, 10243, 10250, 11112, 12345, 14265  </p>
   
                                          </mat-list-item>

                                          
                                        <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">
                                            <h4 mat-line>15[.]188.86.168  </h4>
                                           
                                            <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                           
                                            <p mat-line>ASN AS49453 - - Macroom, Ireland </p>
                                           
                                            <p mat-line>Open ports: 111, 3389, 10000, 10250, 12345, 14265, 16992, 17000  </p>
   
                                          </mat-list-item>

                                          <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">
                                            <h4 mat-line>5[.]188.86.165  </h4>
                                           
                                            <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                           
                                            <p mat-line>ASN AS49453 - - Macroom, Ireland </p>
                                           
                                            <p mat-line>Open ports: 111, 3389, 10000, 10243, 10250, 11112, 12345, 14265, 16992, 16993, 17000, 18245  </p>
   
                                          </mat-list-item>

                                          <mat-divider></mat-divider>
                                          <mat-list-item role="listitem">
                                              <h4 mat-line>5[.]188.86.169  </h4>
                                             
                                              <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                             
                                              <p mat-line>ASN AS49453 - - Macroom, Ireland </p>
                                             
                                              <p mat-line>Open ports: 111, 3389, 10000, 10243, 10250, 11112, 12345, 14265, 16992, 16993, 17000, 18245  </p>
     
                                            </mat-list-item>


                                            <mat-divider></mat-divider>
                                            <mat-list-item role="listitem">
                                                <h4 mat-line>5[.]188.86.164  </h4>
                                               
                                                <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                               
                                                <p mat-line>ASN AS49453 - - Macroom, Ireland  </p>
                                               
                                                <p mat-line>Open ports: 111, 3389, 10000, 10243, 10250, 10443, 12345, 13579, 14265, 16992, 16993, 18245  </p>
       
                                              </mat-list-item>

                                              <mat-divider></mat-divider>
                                              <mat-list-item role="listitem">
                                                  <h4 mat-line>5[.]188.86.210  </h4>
                                                 
                                                  <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                                 
                                                  <p mat-line>ASN AS49453 - - Macroom, Ireland  </p>
                                                 
                                                  <p mat-line>Open ports: 111, 3389, 10000, 10243, 10443, 11112, 12345, 13579, 14265, 16992, 17000, 18245  </p>
         
                                                </mat-list-item>


                                                <mat-divider></mat-divider>
                                              <mat-list-item role="listitem">
                                                  <h4 mat-line>5[.]188.86.51   </h4>
                                                 
                                                  <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                                 
                                                  <p mat-line>ASN AS49453 - - Macroom, Ireland  </p>
                                                 
                                                  <p mat-line>Open ports: 111, 3389, 10000, 10243, 10250, 11112, 12345, 14265, 16992, 16993, 17000, 18245  </p>
         
                                                </mat-list-item>

                                                <mat-divider></mat-divider>
                                                <mat-list-item role="listitem">
                                                    <h4 mat-line>5[.]188.86.207   </h4>
                                                   
                                                    <p mat-line>ISP: Petersburg Internet Network ltd.  </p>
                                                   
                                                    <p mat-line>ASN AS49453 - - Macroom, Ireland  </p>
                                                   
                                                    <p mat-line>Open ports: 11, 3389, 10000, 10243, 10250, 11112, 12345, 13579, 14265, 16993, 17000, 18245   </p>
           
                                                  </mat-list-item>
                                     
                                    </mat-list>
     
                                    </div>
  
                                     <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ 10 выполненных команд</p>
                                        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    
                                          <!--- Note that these columns can be defined in any order.
                                                The actual rendered columns are set as a property on the row definition" -->
                                        
                                          <!-- Position Column -->
                                          <ng-container matColumnDef="source">
                                            <th mat-header-cell *matHeaderCellDef style="padding-top: 15px; min-width: 70%;"> Команда </th>
                                            <td mat-cell *matCellDef="let element" style="padding-top: 15px; min-width: 70%;"> {{element.source}} </td>
                                          </ng-container>
                                        
                                          <!-- Name Column -->
                                          <ng-container matColumnDef="count">
                                            <th mat-header-cell *matHeaderCellDef> Количество </th>
                                            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                          </ng-container>
                                        
                                         
                                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
      
                                      </div>


                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                          <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ 10 логинов</p>
                                          <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
                                         
                                            <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->
                                          
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="source">
                                              <th mat-header-cell *matHeaderCellDef style="padding-top: 15px; min-width: 70%;"> Логин </th>
                                              <td mat-cell *matCellDef="let element" style="padding-top: 15px; min-width: 70%;"> {{element.source}} </td>
                                            </ng-container>
                                          
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="count">
                                              <th mat-header-cell *matHeaderCellDef> Количество </th>
                                              <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                            </ng-container>
                                          
                                           
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                          </table>
        
                                        </div>


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                            <p style="text-align: center; padding-top: 20px; padding-bottom: 20px; ">Топ 10 паролей</p>
                                            <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">
        
                                              <!--- Note that these columns can be defined in any order.
                                                    The actual rendered columns are set as a property on the row definition" -->
                                            
                                              <!-- Position Column -->
                                              <ng-container matColumnDef="source">
                                                <th mat-header-cell *matHeaderCellDef style="padding-top: 15px; min-width: 70%;"> Пароль</th>
                                                <td mat-cell *matCellDef="let element" style="padding-top: 15px; min-width: 70%;"> {{element.source}} </td>
                                              </ng-container>
                                            
                                              <!-- Name Column -->
                                              <ng-container matColumnDef="count">
                                                <th mat-header-cell *matHeaderCellDef> Количество </th>
                                                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                              </ng-container>
                                            
                                             
                                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
          
                                          </div>


                                          <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                              <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ MD5 хешей</p>
                                              <table mat-table [dataSource]="dataSource5" class="mat-elevation-z8">
          
                                                <!--- Note that these columns can be defined in any order.
                                                      The actual rendered columns are set as a property on the row definition" -->
                                              
                                                <!-- Position Column -->
                                                <ng-container matColumnDef="source">
                                                  <th mat-header-cell *matHeaderCellDef style="padding-top: 15px; min-width: 70%;"> MD5 Хеш </th>
                                                  <td mat-cell *matCellDef="let element" style="padding-top: 15px; min-width: 70%;"> {{element.source}} </td>
                                                </ng-container>
                                              
                                                <!-- Name Column -->
                                                <ng-container matColumnDef="count">
                                                  <th mat-header-cell *matHeaderCellDef> Количество </th>
                                                  <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                                </ng-container>
                                              
                                               
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                              </table>
            
                                            </div>


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ URLs</p>
                                                <table mat-table [dataSource]="dataSource6" class="mat-elevation-z8">
            
                                                  <!--- Note that these columns can be defined in any order.
                                                        The actual rendered columns are set as a property on the row definition" -->
                                                
                                                  <!-- Position Column -->
                                                  <ng-container matColumnDef="source">
                                                    <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"> Url </th>
                                                    <td mat-cell *matCellDef="let element" style="padding-top: 15px;"> {{element.source}} </td>
                                                  </ng-container>
                                                
                                                  <!-- Name Column -->
                                                  <ng-container matColumnDef="count">
                                                    <th mat-header-cell *matHeaderCellDef> Количество </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                                  </ng-container>
                                                
                                                 
                                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
              
                                              </div>


                                              <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                  <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Топ версий SSH</p>
                                                  <table mat-table [dataSource]="dataSource7" class="mat-elevation-z8">
              
                                                    <!--- Note that these columns can be defined in any order.
                                                          The actual rendered columns are set as a property on the row definition" -->
                                                  
                                                    <!-- Position Column -->
                                                    <ng-container matColumnDef="source">
                                                      <th mat-header-cell *matHeaderCellDef style="padding-top: 15px;"> Версия </th>
                                                      <td mat-cell *matCellDef="let element" style="padding-top: 15px;"> {{element.source}} </td>
                                                    </ng-container>
                                                  
                                                    <!-- Name Column -->
                                                    <ng-container matColumnDef="count">
                                                      <th mat-header-cell *matHeaderCellDef> Количество </th>
                                                      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                                    </ng-container>
                                                  
                                                   
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                  </table>
                
                                                </div>

                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                                <div class="moto-widget-contact_form-buttons">
                                                    <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                                      
                                                       <a href="../../../assets/honeypot-activity-may-august-2019.xlsx" target="_blank" class="moto-widget-button-link moto-size-medium" data-size="medium"> Скачать отчёт </a>
                                                    </div>
                                                   
                                                 </div>
                                                  </div>
                                    


  
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
      </div>
    
  </section>
      
  
  
  
  
  