
        <!-- create a template to use the imageviewer -->
        
      


        <section id="section-content" class="content page-13 moto-section" data-widget="section" data-container="section">
          <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../../assets/hacker1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/12/mt-1700-content-bg01.jpg" data-bg-position="center">
  
              <div class="container-fluid">
                  <div class="row">
                      <div class="moto-cell col-sm-12" data-container="container">
  
                          <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">

                              <div class="container-fluid">
                                  <div class="row" data-container="container">
      
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                          <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                              <div class="moto-widget-text-content moto-widget-text-editable">
                                                  <h1 class="moto-text_system_6" class="po" (click)="navToFeeds()">К списку фидов</h1></div>
                                          </div>
      
                                      </div>
      
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                      </div>
      
                                  </div>
                              </div>
                          </div>
  
                                      <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
  
                                                      <div class="container-fluid">
                                                          <div class="row" data-container="container">
                              
                                                              <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                              
                                                                  <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                          <div class="moto-widget-text-content moto-widget-text-editable">
                                                                                  <p class="moto-text_system_5" style="color: white;">Вирусная аналитика (декабрь 2019)</p>
                                                                              </div>
                                                                  </div>
                              
                                                              </div>
                              
                                                              <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                              
                                                              </div>
                              
                                                          </div>
                                                      </div>
                                                  </div>
  
  
      
                    
                          <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
      
                              <div class="container-fluid">
                                  <div class="row" data-container="container">
      
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                      </div>
                                      <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
      
                                      </div>
      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="laaa" style="" data-bg-position="left top">
          <a class="moto-anchor" name="anchor-1"></a>
  
          <div class="container-fluid">
              <div class="row">
                  <div class="moto-cell col-sm-12" data-container="container">
  
                      <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
  
                          <div class="container-fluid">
                              <div class="row" data-container="container">

 <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        

        
                                      <p style="  padding-bottom: 20px;">
                                      
                                        Наши специалисты выявили новую тенденцию распространения вируса Dridex и использование PowerShell Empire перед атакой шифровальщика BitPaymer.
                                      </p>
                                      <p style="  padding-bottom: 20px;">
                                        Dridex  - это банковский троян, разработанный для кражи денег с банковских счетов. После установки вируса, злоумышленники используют PowerShell Empire (open-source фреймворк для тестирования на проникновение) для повышения привилегий и для доступа к контроллеру домена, после чего по всей сети устанавливается шифровальщик BitPaymer.
                                      </p>

                                      <p style="  padding-bottom: 20px;"> 
                                        Dridex распространяется с помощью спама. Злоумышленник отправляет письмо с вложением. После загрузки и открытия зараженного документа запускается макрос, содержащий вредоносный код.

                                      </p>

                                      <p style="  padding-bottom: 20px;">
                                        Если специалисты по защите информации или системные администраторы выявили в своих сетях заражение вирусом Dridex или использование PowerShell Empire, необходимо незамедлительно принять меры по смягчению последствий последующих атак данным шифровальщиком.
                                      </p>

                                      <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Профилактические меры</h4>

                                    


                                      <p style="  padding-bottom: 20px;"> 
                                        Создайте план резервного копирования.

                                      </p>

                                     <p style="  padding-bottom: 20px;">
                                      Обновите PowerShell до последней версии и централизуйте журналы для обнаружения часто используемых команд PowerShell, связанных с вредоносным по.
                                     </p>

                                     <p style="  padding-bottom: 20px;"> 
                                      Регулярно обновляйте и исправляйте всё программное обеспечение и операционные системы для устранения известных уязвимостей, например уязвимость в протоколе SMBv1. Целые эпидемии, вызванные вредоносными программами «WannaCry» и «Petya», использовали лазейку в протоколе SMBv1. 

                                    </p>
                                    <p style="  padding-bottom: 20px;"> 
                                      Обеспечьте соблюдение требований к паролям, а также соблюдение групповых политик доступа к SMB. По возможности используйте двухфакторную аутентификацию для всех аккаунтов.

                                    </p>
                                    <p style="  padding-bottom: 20px;"> 
                                      Расскажите сотрудникам о том, как идентифицировать попытки фишинга, социальной инженерии и спуфинга.

                                    </p>

                                    <p style="  padding-bottom: 20px;"> 
                                      При загрузке вложений и запуске исполняемых файлов сотрудники должны быть уверены, что данное ПО легитимное.

                                    </p>














                                      <h4 style="padding-top: 20px; padding-bottom: 20px; font-weight: bold !important;">Меры по смягчению последствий</h4>

                                    



                                      <p style="  padding-bottom: 20px;">
                                        Системные администраторы, обнаружившие заражение вирусом Dridex, Emotet, Trickbot, Ursnif, Qakbot или использование PowerShell Empire должны немедленно принять меры по созданию резервных копий и защите конфиденциальных данных, так как эти вирусы могут свидетельствовать об атаке шифровальщика BitPaymer. Системные администраторы должны принять меры по защите сетевых устройств.
                                      </p>

                                      <p style="  padding-bottom: 20px;">
                                        Мы настоятельно рекомендуем вам обратиться в правоохранительные органы, чтобы сообщить о вторжении и запросить помощь, при этом предоставив журналы событий.                                         
                                      </p>

                              
                                          
                              </div>
                                 
                                 
                                 
                               
                              <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="margin-bottom: 20px;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

                                <div class="moto-widget-contact_form-buttons">
                                    <div class="moto-widget moto-widget-button moto-preset-default moto-align-left" data-preset="default" data-align="left">
                                      
                                       <a href="../../../assets/malware-analysis-december-2019.docx" target="_blank" class="moto-widget-button-link moto-size-medium" data-size="medium"> Скачать отчёт </a>
                                    </div>
                                   
                                 </div>
                                  </div>




                                      



             






  
                             

                             



                                    

                                      


                                      


                                          
  
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
      </div>
    
  </section>
      
  
  
  
  
  