
  <div class="mutable-content" style="background: #00006e">

    
  
        <section class="page-top" >
                <span class="image" style="background-image:url('assets/2.jpg')"></span>
                <div class="aside">
                        <i></i><i></i><i></i>
                       
                </div>
               
                <div class="wrapper">
                       
                    <div class="top-title-block">
                      
                        <h1>Agat CTF-2019</h1>
                        <p style="font-size:30px; text-align: justify;"> 30-31 марта 2019 года в ОАО «АГАТ-системы управления» прошли вторые соревнования по информационной безопасности «AgatCTF-2019», проводимые по международным правилам «Capture the flag»</p>
                    </div>    
                </div>
        </section>


      
  
        <section class="page-top" >
            <div class="wrapper" style="padding: 0;">

        <div class="container blog-post-content" style="text-align:justify; ">
            <div class="row">
                <div class="col-md-12">
                    <p><span style="font-weight:400; font-size:25px;" >В борьбе за первое место участвовали шесть команд, представляющих ведущие белорусские вузы, осуществляющие подготовку IT-специалистов - БГУ, БГУИР, БГТУ и ВГУ им. П.М. Машерова.
                        На торжественном открытии киберсоревнований Председатель Государственного военно-промышленного комитета Республики Беларусь Роман Александрович Головченко подчеркнул важность IT-сферы для экономики страны и необходимость быть готовыми к встрече с возможными угрозами и рисками, связанными с проникновением информационных технологий во все сферы жизни человека.</span></p>
                    <p><span style="font-weight:400; font-size:25px;">Директор ОАО «АГАТ-системы управления» Геннадий Станиславович Казаков сделал акцент на ведущей роли подготовки кадров в сфере информационной безопасности для обеспечения защищенности организаций и предприятий от возможных киберугроз и подчеркнул, что участникам, проявившим себя на соревнованиях и показавшим высокий профессиональный уровень, будет предложено стать частью созданного в Обществе подразделения, специализирующегося на аудите информационной безопасности. </span></p>
                    <section class="image-content">
                        <picture>
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf1.jpg?alt=media&token=523cfab0-ca2d-4c3d-b4b3-ee0c673b1bc8" media="(max-width: 768px)">
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf1.jpg?alt=media&token=523cfab0-ca2d-4c3d-b4b3-ee0c673b1bc8" media="(min-width: 769px)"><img srcset="/media/1596/facebook-internet-login-267482.jpg?anchor=center&amp;mode=crop&amp;width=1300&amp;height=800&amp;rnd=132052640870000000" alt="What are the benefits of a Facebook Messenger Broadcast?"> </picture>
                    </section>
                    <section class="image-content">
                        <picture>
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf2.jpg?alt=media&token=ce4336b4-3cde-4117-ab56-8d289daf29bb" media="(max-width: 768px)">
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf2.jpg?alt=media&token=ce4336b4-3cde-4117-ab56-8d289daf29bb" media="(min-width: 769px)"><img srcset="/media/1596/facebook-internet-login-267482.jpg?anchor=center&amp;mode=crop&amp;width=1300&amp;height=800&amp;rnd=132052640870000000" alt="What are the benefits of a Facebook Messenger Broadcast?"> </picture>
                    </section>
                   
                    <p><span style="font-weight:400; font-size:25px;">Согласно условиям соревнований «AgatCTF-2019», командам были предложены шесть абсолютно одинаковых сервисов, представляющие какие-либо подсистемы «города будущего» – Agat Сity – работоспособность и безопасность которых участником и предстояло поддерживать. В каждом из этих современных городских сервисов (сервис городских билбордов, медицинский центр, сервис аренды велосипедов, система умного дома, сервис доставки товаров при помощи дронов и отдел милиции) были заложены уязвимости. Командам предстояло определить такие уязвимости в своих сервисах и поддерживать их работоспособность, а также воспользоваться найденной программной уязвимостью для атаки сервисов соперников и захвата их «флагов».</span></p>
                   
                   
                    <section class="image-content">
                        <picture>
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/ctflogo.jpg?alt=media&token=cd27ce1b-16b4-46d8-b96b-2d1290519e11" media="(max-width: 768px)">
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/ctflogo.jpg?alt=media&token=cd27ce1b-16b4-46d8-b96b-2d1290519e11" media="(min-width: 769px)"><img srcset="/media/1596/facebook-internet-login-267482.jpg?anchor=center&amp;mode=crop&amp;width=1300&amp;height=800&amp;rnd=132052640870000000" alt="What are the benefits of a Facebook Messenger Broadcast?"> </picture>
                    </section>
                    <section class="image-content">
                        <picture>
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf4.jpg?alt=media&token=7b128352-6af9-4162-83e8-633fecb91f46" media="(max-width: 768px)">
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf4.jpg?alt=media&token=7b128352-6af9-4162-83e8-633fecb91f46" media="(min-width: 769px)"><img srcset="/media/1596/facebook-internet-login-267482.jpg?anchor=center&amp;mode=crop&amp;width=1300&amp;height=800&amp;rnd=132052640870000000" alt="What are the benefits of a Facebook Messenger Broadcast?"> </picture>
                    </section>
                    
                    
                    <p><span style="font-weight:400; font-size:25px;">На отдельной площадке посетители мероприятия и студенты, пришедшие поддержать команды своих вузов, могли принять участие в развлекательной программе – гостям были предложены конкурсы и развлечения, а также аттракционы виртуальной реальности. </span></p>
                    <p><span style="font-weight:400; font-size:25px;">Ближе к середине конкурсного дня лидерство захватила команда «ФПМИ-Х» (БГУ), обойти которую соперникам так и не удалось. По итогам соревнований команда «ФПМИ-Х» заняла первое место, подтвердив результат 2018 года.</span></p>
                    <p><span style="font-weight:400; font-size:25px;">По итогам конкурсного дня места распределились следующим образом:</span></p>
                    <p><span style="font-weight:400; font-size:25px;">1.      ФПМИ-Х (БГУ);</span></p>
                    <p><span style="font-weight:400; font-size:25px;">2.      BSUIR (БГУИР);</span></p>
                    <p><span style="font-weight:400; font-size:25px;">3.      ФПМИ-2 (БГУ);</span></p>
                    <p><span style="font-weight:400; font-size:25px;">4.      Фитоняшки (БГТУ);</span></p>
                    <p><span style="font-weight:400; font-size:25px;">5.      E2I3 (ВГУ им. П.М.Машерова);</span></p>
                    <p><span style="font-weight:400; font-size:25px;">6.      Daybreak (БГУИР).</span></p>
                    <p><span style="font-weight:400; font-size:25px;">31 марта состоялось награждение победителей и призеров соревнований. Вручая награды, директор ОАО «АГАТ-системы управления» Геннадий Станиславович Казаков подчеркнул, важную роль соревнований AgatCTF в проверке квалификации IT-кадров и пригласил представителей вузов принять участие в следующих соревнованиях. Также посетители второго дня мероприятия приняли участие в конференции по информационной безопасности, с докладами на которой выступили эксперты ОАО «АГАТ-системы управления», а также представители ведущих игроков белорусской IT-индустрии.</span></p>
                    <section class="image-content">
                        <picture>
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf5.jpg?alt=media&token=d0821cd3-c7f3-474e-bb68-ecd29f72e11c" media="(max-width: 768px)">
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf5.jpg?alt=media&token=d0821cd3-c7f3-474e-bb68-ecd29f72e11c" media="(min-width: 769px)"><img srcset="/media/1596/facebook-internet-login-267482.jpg?anchor=center&amp;mode=crop&amp;width=1300&amp;height=800&amp;rnd=132052640870000000" alt="What are the benefits of a Facebook Messenger Broadcast?"> </picture>
                    </section>
                    <section class="image-content">
                        <picture>
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf6.jpg?alt=media&token=3aea1ea9-50a1-40f9-bacd-7ab0c5e207c6" media="(max-width: 768px)">
                            <source srcset="https://firebasestorage.googleapis.com/v0/b/shishko-e3441.appspot.com/o/agatctf6.jpg?alt=media&token=3aea1ea9-50a1-40f9-bacd-7ab0c5e207c6" media="(min-width: 769px)"><img srcset="/media/1596/facebook-internet-login-267482.jpg?anchor=center&amp;mode=crop&amp;width=1300&amp;height=800&amp;rnd=132052640870000000" alt="What are the benefits of a Facebook Messenger Broadcast?"> </picture>
                    </section>
                </div>
            </div>
        </div>
  
  
      </div>
  </section>
             
                                        
                                       
                              
  
  
   <!--
  
   -->   
  
  
  
  
  
  
    <!--
       
   -->   
  
     
  </div>
  

 